/*
 * Stylesheet file.
 */

.mainFxmlClass {
    -fx-background-color:white;
}
#centerPane1{
    -fx-border-style: solid;
    -fx-border-color: black;
}
#centerPane2{
    -fx-border-style: solid;
    -fx-border-color: black;
}
#centerPane3{
    -fx-border-style: solid;
    -fx-border-color: black;
}
#txt{
    -fx-border-style: solid;
    -fx-border-color: black;
    -fx-font-family: Monospace;
}
#title{
    -fx-font-family: Vivaldi, Cursive;
    -fx-font-size: 25px;
}
#txt2{
    -fx-font-family:Courier;
}
